
.body-content {
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-capa {
    max-width: 250px;
}

.caixa-busca {
    background-color: #f1f1f1;
    border: solid 1px #d0d0d0;
    border-radius: 10px;
    padding: 10px 10px 0;
}